{% extends "layout/application.html" %}
{% block title %}{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('purchases.new', vehicle_id=vehicle.id) }}" role="button">Purchase Now</a>
        </div>
    </div>
{% endblock %}