{% extends "layout/application.html" %}
{% block title %}Purchase{% endblock %}

{% block content %}
    <div class="container">
        <div class="offset-md-2 col-md-8 order-md-1 py-5 text-center">
            <h2>Vehicle Checkout</h2>
            <p class="lead">Thanks for showing interest in purchasing
                your {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}! Fill out the information below to
                finalize your purchase!</p>
        </div>
        <div class="offset-md-2 col-md-8 order-md-1">
            {% macro render_field(field, placeholder=None) %}
                {% if field.errors %}
                    <div>
                {% elif field.flags.error %}
                    <div>
                {% else %}
                    <div>
                {% endif %}
            {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
            {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
            </div>
            {% endmacro %}

            {% if form.errors %}
                <div>
                    {% for field, error in form.errors.items() %}
                        {% for e in error %}
                            {{ e }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <h4 class="mb-3">Shipping Address</h4>
            <form class="needs-validation" action="{{ url_for('purchases.create', vehicle_id=vehicle.id) }}"
                  id="payment-form" method="post" novalidate>
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ render_field(form.first_name, placeholder="First Name", autofocus=true) }}
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ render_field(form.last_name, placeholder="Last Name") }}
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    {{ render_field(form.address, placeholder="1234 Main Street") }}
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 mb-3">
                        {{ render_field(form.country) }}
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ render_field(form.state) }}
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ render_field(form.zipcode, placeholder="Zipcode") }}
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>

                <h4 class="mb-3">Payment</h4>
                <p>
                    <a href="https://stripe.com/docs/testing#cards" target="_blank">Click here to view a list of test
                        credit card numbers.</a>

                </p>

                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert"></div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Payment</button>
                <a href="{{ url_for('inventory.show', vehicle_id=vehicle.id) }}"
                   class="btn btn-default btn-lg btn-block">Nevermind, take me back.</a>
            </form>

            <script>
                var stripe = Stripe('pk_test_QGfOzAhtitQiGnJFndPeJcJK');
                var elements = stripe.elements();
                var card = elements.create('card');
                card.mount('#card-element');

                card.addEventListener('change', function (event) {
                    var displayError = document.getElementById('card-errors');
                    if (event.error) {
                        displayError.textContent = event.error.message;
                    } else {
                        displayError.textContent = '';
                    }
                });

                function stripeTokenHandler(token) {
                    // Insert the token ID into the form so it gets submitted to the server
                    var form = document.getElementById('payment-form');
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripe_token');
                    hiddenInput.setAttribute('id', 'stripe_token');
                    hiddenInput.setAttribute('value', token.id);
                    form.appendChild(hiddenInput);

                    // Submit the form
                    form.submit();
                }

                var form = document.getElementById('payment-form');
                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    stripe.createToken(card).then(function (result) {
                        if (result.error) {
                            // Inform the customer that there was an error.
                            var errorElement = document.getElementById('card-errors');
                            errorElement.textContent = result.error.message;
                        } else {
                            // Send the token to your server.
                            stripeTokenHandler(result.token);
                        }
                    });
                });
            </script>
            </div>
            </div>
{% endblock %}
</div>
</div>
