{% extends "layout/application.html" %}
{% block title %}Edit Vehicle{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1>Update Vehicle</h1>
    {% macro render_field(field, placeholder=None) %}
        {% if field.errors %}
            <div>
        {% elif field.flags.error %}
            <div>
        {% else %}
            <div>
        {% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
    {% endmacro %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if form.errors %}
    <div>
        {% for field, error in form.errors.items() %}
            {% for e in error %}
                {{ e }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

<div class="row">
    <div class="col-6">
        <form method="post" action="{{ url_for('inventory.platform_update', vehicle_id=vehicle.id) }}"
              accept-charset="UTF-8"
              role="form">

            {{ form.csrf_token }}

            <div class="form-group">
                <label for="year">Year</label>
                {{ render_field(form.year) }}
            </div>

            <div class="form-group">
                <label for="make">Make</label>
                {{ render_field(form.make) }}
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                {{ render_field(form.model) }}
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                {{ render_field(form.color) }}
            </div>
            <div class="form-group">
                <label for="mileage">Mileage</label>
                {{ render_field(form.mileage) }}
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                {{ render_field(form.price) }}
            </div>
            <button type="submit" name="submit" class="btn btn-primary form-control">Update Vehicle</button>
            <a href="{{ url_for('inventory.platform_show', vehicle_id=vehicle.id) }}"
               class="btn btn-secondary form-control mt-1">Nevermind, go back.</a>

        </form>
    </div>
</div>
</div>
{% endblock %}
