{% extends "layout/application.html" %}
{% block title %}Buy your next car from bed!{% endblock %}

{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Carvue</h1>
                <p>This is a sample application that allows you to view cars and purchase them.</p>
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('inventory.index') }}">View Vehicles &raquo;</a>
                </p>
            </div>
        </div>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="row">
                <div class="col-md-4">
                    <h2>Project Description</h2>
                    <p>This is a sample applicaiton designed for the CMSC 495 Capstone project at UMUC. This is a clone
                        of Carvana which allows users to view vehicles and make purchases. </p>
                </div>
                <div class="col-md-4">
                    <h2>Project Members</h2>
                    <p>This project was created by Jonathan Barnes, Collin Hicks, and Matthew Orahood. </p>
                </div>
                <div class="col-md-4">
                    <h2>Project Design</h2>
                    <p>This project was built on the Flask framework and is written in Python. Hosting is done through
                        Amazon Web Services.</p>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>
{% endblock %}